.carousel-container {
  position: relative;
  // max-width: 50%;
  min-height: 500px;
  max-height: 500px;
  min-width: 100vh;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
  // background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  .carousel {
    display: flex;
    align-items: 'center';
    height: 100%;
    width: 100%;
    transition: 'opacity 0.5s ease-in-out';

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%;
      flex-direction: column;
    }
  }

  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 30px;
    padding: 10px;
    z-index: 2;
    cursor: pointer;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}
