.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fffe;
  // border-bottom: 1px solid #ddd;
  z-index: 10;
  position: fixed; // 헤더를 고정
  top: 0; // 화면 상단에 배치
  left: 0;
  width: 100%; // 전체 화면 너비로 확장

  .logo {
    font-size: 1.75rem;
    font-weight: bolder;
    color: #333;
    cursor: pointer;
    text-shadow: 0.5px 1px 0.5px rgba(0, 0, 0, 0.25);
  }

  .buttons {
    display: flex;
    gap: 5px;

    button {
      padding: 6px 12px;
      font-size: 0.75rem;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
