.container {
  width: 450px;
  max-height: 40vh;
  padding: 20px;
  background: #fff;
  // border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  // 이미지와 정보를 감싸는 wrapper 추가
  .info-box {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .product-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    float: left; // 이미지를 왼쪽에 배치

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 10px;
    }
  }

  .info {
    float: left; // 정보를 왼쪽에 배치
    margin-left: 20px; // 이미지와의 간격
    width: calc(100% - 120px); // 이미지 너비 + 마진 고려

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .description {
      color: #666;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .price {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .total-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    span {
      color: #666;
      font-weight: bolder;
      font-size: 14px;
    }

    strong {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}
