@import 'pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css';
@import 'reset';
@import 'form';
//@import 'object-fe';

.content {
  padding-left: 150px;
  margin-top: 60px;
  margin-bottom: 60px;
}
