.button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  // &.text {
  //   background-color: transparent;
  //   color: #1976d2;

  //   &:hover {
  //     background-color: rgba(25, 118, 210, 0.04);
  //   }
  // }

  // &.outlined {
  //   background-color: transparent;
  //   color: #1976d2;
  //   border: 1px solid rgba(25, 118, 210, 0.5);

  //   &:hover {
  //     background-color: rgba(25, 118, 210, 0.04);
  //   }
  // }

  // &.contained {
  //   background-color: #1976d2;
  //   color: #fff;

  //   &:hover {
  //     background-color: #1565c0;
  //   }
  // }

  &.small {
    font-size: 13px;
    padding: 4px 10px;
  }

  &.medium {
    font-size: 14px;
    padding: 6px 16px;
  }

  &.large {
    font-size: 15px;
    padding: 8px 22px;
  }

  &.danger {
    color: #d32f2f;

    &.outlined {
      border: 1px solid rgba(211, 47, 47, 0.5);
    }

    &.contained {
      background-color: #d32f2f;
      color: #fff;

      &:hover {
        background-color: #b71c1c;
      }
    }

    &.text {
      &:hover {
        background-color: rgba(211, 47, 47, 0.04);
      }
    }
  }

  &.none {
    color: 'inherit';

    &.outlined {
      border: 1px solid #f1f1f1;
      color: '#000';

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    &.contained {
      background-color: #f1f1f1;
      color: #000;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    &.text {
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }

  &.primary {
    color: #1976d2;

    &.outlined {
      border: 1px solid rgba(25, 118, 210, 0.5);
    }

    &.contained {
      background-color: #1976d2;
      color: #fff;

      &:hover {
        background-color: #1565c0;
      }
    }

    &.text {
      &:hover {
        background-color: rgba(25, 118, 210, 0.04);
      }
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
    cursor: default;
    pointer-events: none;
    border: none;
  }
}
