// Define basic variables for styling
$sidebar-width: 200px;
$background-color: #fff;
$text-color: #6c757d;

// Sidebar styles
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $background-color;
  color: $text-color;
  position: fixed; // 고정된 위치
  left: 0; // 항상 화면의 왼쪽에 고정
  top: 0; // 화면 상단에 고정
  overflow-y: auto; // 내용이 길어지면 스크롤 가능
  // box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25); // 약간의 그림자 추가

  .menu {
    margin-top: 5rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0.25rem 0;
        padding: 0.5rem 1rem;
        border-radius: 8px;

        a {
          color: $text-color;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bolder;
        }

        &:hover {
          transform: translateY(-0.125rem); // 떠보이는 효과
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
          cursor: pointer;

          a {
            color: darken($text-color, 10%);
          }
        }
      }
    }
  }

  .bottom-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      a {
        color: $text-color;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: bolder;
      }

      &:hover {
        transform: translateY(-0.125rem); // 떠보이는 효과
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        a {
          color: darken($text-color, 10%);
        }
      }
    }
  }
}

// Toggle button styles
.toggle-button {
  display: none; // 토글 버튼 숨김 (더 이상 필요 없음)
}
